include ./Pytonium/bin_win.zip
include Pytonium\bin_win\chrome_100_percent.pak
include Pytonium\bin_win\chrome_200_percent.pak
include Pytonium\bin_win\chrome_elf.dll
include Pytonium\bin_win\d3dcompiler_47.dll
include Pytonium\bin_win\dxcompiler.dll
include Pytonium\bin_win\dxil.dll
include Pytonium\bin_win\icudtl.dat
include Pytonium\bin_win\libcef.dll
include Pytonium\bin_win\libEGL.dll
include Pytonium\bin_win\libGLESv2.dll
include Pytonium\bin_win\pytonium_subprocess.exe
include Pytonium\bin_win\resources.pak
include Pytonium\bin_win\v8_context_snapshot.bin
include Pytonium\bin_win\vk_swiftshader.dll
include Pytonium\bin_win\vk_swiftshader_icd.json
include Pytonium\bin_win\vulkan-1.dll
include Pytonium\bin_win\locales\af.pak
include Pytonium\bin_win\locales\af_FEMININE.pak
include Pytonium\bin_win\locales\af_MASCULINE.pak
include Pytonium\bin_win\locales\af_NEUTER.pak
include Pytonium\bin_win\locales\am.pak
include Pytonium\bin_win\locales\am_FEMININE.pak
include Pytonium\bin_win\locales\am_MASCULINE.pak
include Pytonium\bin_win\locales\am_NEUTER.pak
include Pytonium\bin_win\locales\ar.pak
include Pytonium\bin_win\locales\ar_FEMININE.pak
include Pytonium\bin_win\locales\ar_MASCULINE.pak
include Pytonium\bin_win\locales\ar_NEUTER.pak
include Pytonium\bin_win\locales\bg.pak
include Pytonium\bin_win\locales\bg_FEMININE.pak
include Pytonium\bin_win\locales\bg_MASCULINE.pak
include Pytonium\bin_win\locales\bg_NEUTER.pak
include Pytonium\bin_win\locales\bn.pak
include Pytonium\bin_win\locales\bn_FEMININE.pak
include Pytonium\bin_win\locales\bn_MASCULINE.pak
include Pytonium\bin_win\locales\bn_NEUTER.pak
include Pytonium\bin_win\locales\ca.pak
include Pytonium\bin_win\locales\ca_FEMININE.pak
include Pytonium\bin_win\locales\ca_MASCULINE.pak
include Pytonium\bin_win\locales\ca_NEUTER.pak
include Pytonium\bin_win\locales\cs.pak
include Pytonium\bin_win\locales\cs_FEMININE.pak
include Pytonium\bin_win\locales\cs_MASCULINE.pak
include Pytonium\bin_win\locales\cs_NEUTER.pak
include Pytonium\bin_win\locales\da.pak
include Pytonium\bin_win\locales\da_FEMININE.pak
include Pytonium\bin_win\locales\da_MASCULINE.pak
include Pytonium\bin_win\locales\da_NEUTER.pak
include Pytonium\bin_win\locales\de.pak
include Pytonium\bin_win\locales\de_FEMININE.pak
include Pytonium\bin_win\locales\de_MASCULINE.pak
include Pytonium\bin_win\locales\de_NEUTER.pak
include Pytonium\bin_win\locales\el.pak
include Pytonium\bin_win\locales\el_FEMININE.pak
include Pytonium\bin_win\locales\el_MASCULINE.pak
include Pytonium\bin_win\locales\el_NEUTER.pak
include Pytonium\bin_win\locales\en-GB.pak
include Pytonium\bin_win\locales\en-GB_FEMININE.pak
include Pytonium\bin_win\locales\en-GB_MASCULINE.pak
include Pytonium\bin_win\locales\en-GB_NEUTER.pak
include Pytonium\bin_win\locales\en-US.pak
include Pytonium\bin_win\locales\en-US_FEMININE.pak
include Pytonium\bin_win\locales\en-US_MASCULINE.pak
include Pytonium\bin_win\locales\en-US_NEUTER.pak
include Pytonium\bin_win\locales\es-419.pak
include Pytonium\bin_win\locales\es-419_FEMININE.pak
include Pytonium\bin_win\locales\es-419_MASCULINE.pak
include Pytonium\bin_win\locales\es-419_NEUTER.pak
include Pytonium\bin_win\locales\es.pak
include Pytonium\bin_win\locales\es_FEMININE.pak
include Pytonium\bin_win\locales\es_MASCULINE.pak
include Pytonium\bin_win\locales\es_NEUTER.pak
include Pytonium\bin_win\locales\et.pak
include Pytonium\bin_win\locales\et_FEMININE.pak
include Pytonium\bin_win\locales\et_MASCULINE.pak
include Pytonium\bin_win\locales\et_NEUTER.pak
include Pytonium\bin_win\locales\fa.pak
include Pytonium\bin_win\locales\fa_FEMININE.pak
include Pytonium\bin_win\locales\fa_MASCULINE.pak
include Pytonium\bin_win\locales\fa_NEUTER.pak
include Pytonium\bin_win\locales\fi.pak
include Pytonium\bin_win\locales\fil.pak
include Pytonium\bin_win\locales\fil_FEMININE.pak
include Pytonium\bin_win\locales\fil_MASCULINE.pak
include Pytonium\bin_win\locales\fil_NEUTER.pak
include Pytonium\bin_win\locales\fi_FEMININE.pak
include Pytonium\bin_win\locales\fi_MASCULINE.pak
include Pytonium\bin_win\locales\fi_NEUTER.pak
include Pytonium\bin_win\locales\fr.pak
include Pytonium\bin_win\locales\fr_FEMININE.pak
include Pytonium\bin_win\locales\fr_MASCULINE.pak
include Pytonium\bin_win\locales\fr_NEUTER.pak
include Pytonium\bin_win\locales\gu.pak
include Pytonium\bin_win\locales\gu_FEMININE.pak
include Pytonium\bin_win\locales\gu_MASCULINE.pak
include Pytonium\bin_win\locales\gu_NEUTER.pak
include Pytonium\bin_win\locales\he.pak
include Pytonium\bin_win\locales\he_FEMININE.pak
include Pytonium\bin_win\locales\he_MASCULINE.pak
include Pytonium\bin_win\locales\he_NEUTER.pak
include Pytonium\bin_win\locales\hi.pak
include Pytonium\bin_win\locales\hi_FEMININE.pak
include Pytonium\bin_win\locales\hi_MASCULINE.pak
include Pytonium\bin_win\locales\hi_NEUTER.pak
include Pytonium\bin_win\locales\hr.pak
include Pytonium\bin_win\locales\hr_FEMININE.pak
include Pytonium\bin_win\locales\hr_MASCULINE.pak
include Pytonium\bin_win\locales\hr_NEUTER.pak
include Pytonium\bin_win\locales\hu.pak
include Pytonium\bin_win\locales\hu_FEMININE.pak
include Pytonium\bin_win\locales\hu_MASCULINE.pak
include Pytonium\bin_win\locales\hu_NEUTER.pak
include Pytonium\bin_win\locales\id.pak
include Pytonium\bin_win\locales\id_FEMININE.pak
include Pytonium\bin_win\locales\id_MASCULINE.pak
include Pytonium\bin_win\locales\id_NEUTER.pak
include Pytonium\bin_win\locales\it.pak
include Pytonium\bin_win\locales\it_FEMININE.pak
include Pytonium\bin_win\locales\it_MASCULINE.pak
include Pytonium\bin_win\locales\it_NEUTER.pak
include Pytonium\bin_win\locales\ja.pak
include Pytonium\bin_win\locales\ja_FEMININE.pak
include Pytonium\bin_win\locales\ja_MASCULINE.pak
include Pytonium\bin_win\locales\ja_NEUTER.pak
include Pytonium\bin_win\locales\kn.pak
include Pytonium\bin_win\locales\kn_FEMININE.pak
include Pytonium\bin_win\locales\kn_MASCULINE.pak
include Pytonium\bin_win\locales\kn_NEUTER.pak
include Pytonium\bin_win\locales\ko.pak
include Pytonium\bin_win\locales\ko_FEMININE.pak
include Pytonium\bin_win\locales\ko_MASCULINE.pak
include Pytonium\bin_win\locales\ko_NEUTER.pak
include Pytonium\bin_win\locales\lt.pak
include Pytonium\bin_win\locales\lt_FEMININE.pak
include Pytonium\bin_win\locales\lt_MASCULINE.pak
include Pytonium\bin_win\locales\lt_NEUTER.pak
include Pytonium\bin_win\locales\lv.pak
include Pytonium\bin_win\locales\lv_FEMININE.pak
include Pytonium\bin_win\locales\lv_MASCULINE.pak
include Pytonium\bin_win\locales\lv_NEUTER.pak
include Pytonium\bin_win\locales\ml.pak
include Pytonium\bin_win\locales\ml_FEMININE.pak
include Pytonium\bin_win\locales\ml_MASCULINE.pak
include Pytonium\bin_win\locales\ml_NEUTER.pak
include Pytonium\bin_win\locales\mr.pak
include Pytonium\bin_win\locales\mr_FEMININE.pak
include Pytonium\bin_win\locales\mr_MASCULINE.pak
include Pytonium\bin_win\locales\mr_NEUTER.pak
include Pytonium\bin_win\locales\ms.pak
include Pytonium\bin_win\locales\ms_FEMININE.pak
include Pytonium\bin_win\locales\ms_MASCULINE.pak
include Pytonium\bin_win\locales\ms_NEUTER.pak
include Pytonium\bin_win\locales\nb.pak
include Pytonium\bin_win\locales\nb_FEMININE.pak
include Pytonium\bin_win\locales\nb_MASCULINE.pak
include Pytonium\bin_win\locales\nb_NEUTER.pak
include Pytonium\bin_win\locales\nl.pak
include Pytonium\bin_win\locales\nl_FEMININE.pak
include Pytonium\bin_win\locales\nl_MASCULINE.pak
include Pytonium\bin_win\locales\nl_NEUTER.pak
include Pytonium\bin_win\locales\pl.pak
include Pytonium\bin_win\locales\pl_FEMININE.pak
include Pytonium\bin_win\locales\pl_MASCULINE.pak
include Pytonium\bin_win\locales\pl_NEUTER.pak
include Pytonium\bin_win\locales\pt-BR.pak
include Pytonium\bin_win\locales\pt-BR_FEMININE.pak
include Pytonium\bin_win\locales\pt-BR_MASCULINE.pak
include Pytonium\bin_win\locales\pt-BR_NEUTER.pak
include Pytonium\bin_win\locales\pt-PT.pak
include Pytonium\bin_win\locales\pt-PT_FEMININE.pak
include Pytonium\bin_win\locales\pt-PT_MASCULINE.pak
include Pytonium\bin_win\locales\pt-PT_NEUTER.pak
include Pytonium\bin_win\locales\ro.pak
include Pytonium\bin_win\locales\ro_FEMININE.pak
include Pytonium\bin_win\locales\ro_MASCULINE.pak
include Pytonium\bin_win\locales\ro_NEUTER.pak
include Pytonium\bin_win\locales\ru.pak
include Pytonium\bin_win\locales\ru_FEMININE.pak
include Pytonium\bin_win\locales\ru_MASCULINE.pak
include Pytonium\bin_win\locales\ru_NEUTER.pak
include Pytonium\bin_win\locales\sk.pak
include Pytonium\bin_win\locales\sk_FEMININE.pak
include Pytonium\bin_win\locales\sk_MASCULINE.pak
include Pytonium\bin_win\locales\sk_NEUTER.pak
include Pytonium\bin_win\locales\sl.pak
include Pytonium\bin_win\locales\sl_FEMININE.pak
include Pytonium\bin_win\locales\sl_MASCULINE.pak
include Pytonium\bin_win\locales\sl_NEUTER.pak
include Pytonium\bin_win\locales\sr.pak
include Pytonium\bin_win\locales\sr_FEMININE.pak
include Pytonium\bin_win\locales\sr_MASCULINE.pak
include Pytonium\bin_win\locales\sr_NEUTER.pak
include Pytonium\bin_win\locales\sv.pak
include Pytonium\bin_win\locales\sv_FEMININE.pak
include Pytonium\bin_win\locales\sv_MASCULINE.pak
include Pytonium\bin_win\locales\sv_NEUTER.pak
include Pytonium\bin_win\locales\sw.pak
include Pytonium\bin_win\locales\sw_FEMININE.pak
include Pytonium\bin_win\locales\sw_MASCULINE.pak
include Pytonium\bin_win\locales\sw_NEUTER.pak
include Pytonium\bin_win\locales\ta.pak
include Pytonium\bin_win\locales\ta_FEMININE.pak
include Pytonium\bin_win\locales\ta_MASCULINE.pak
include Pytonium\bin_win\locales\ta_NEUTER.pak
include Pytonium\bin_win\locales\te.pak
include Pytonium\bin_win\locales\te_FEMININE.pak
include Pytonium\bin_win\locales\te_MASCULINE.pak
include Pytonium\bin_win\locales\te_NEUTER.pak
include Pytonium\bin_win\locales\th.pak
include Pytonium\bin_win\locales\th_FEMININE.pak
include Pytonium\bin_win\locales\th_MASCULINE.pak
include Pytonium\bin_win\locales\th_NEUTER.pak
include Pytonium\bin_win\locales\tr.pak
include Pytonium\bin_win\locales\tr_FEMININE.pak
include Pytonium\bin_win\locales\tr_MASCULINE.pak
include Pytonium\bin_win\locales\tr_NEUTER.pak
include Pytonium\bin_win\locales\uk.pak
include Pytonium\bin_win\locales\uk_FEMININE.pak
include Pytonium\bin_win\locales\uk_MASCULINE.pak
include Pytonium\bin_win\locales\uk_NEUTER.pak
include Pytonium\bin_win\locales\ur.pak
include Pytonium\bin_win\locales\ur_FEMININE.pak
include Pytonium\bin_win\locales\ur_MASCULINE.pak
include Pytonium\bin_win\locales\ur_NEUTER.pak
include Pytonium\bin_win\locales\vi.pak
include Pytonium\bin_win\locales\vi_FEMININE.pak
include Pytonium\bin_win\locales\vi_MASCULINE.pak
include Pytonium\bin_win\locales\vi_NEUTER.pak
include Pytonium\bin_win\locales\zh-CN.pak
include Pytonium\bin_win\locales\zh-CN_FEMININE.pak
include Pytonium\bin_win\locales\zh-CN_MASCULINE.pak
include Pytonium\bin_win\locales\zh-CN_NEUTER.pak
include Pytonium\bin_win\locales\zh-TW.pak
include Pytonium\bin_win\locales\zh-TW_FEMININE.pak
include Pytonium\bin_win\locales\zh-TW_MASCULINE.pak
include Pytonium\bin_win\locales\zh-TW_NEUTER.pak
include Pytonium\pytonium.pyi
