include ./Pytonium/bin_win.zip
include Pytonium\bin_win\chrome_100_percent.pak
include Pytonium\bin_win\chrome_200_percent.pak
include Pytonium\bin_win\chrome_elf.dll
include Pytonium\bin_win\d3dcompiler_47.dll
include Pytonium\bin_win\icudtl.dat
include Pytonium\bin_win\libcef.dll
include Pytonium\bin_win\libEGL.dll
include Pytonium\bin_win\libGLESv2.dll
include Pytonium\bin_win\pytonium_subprocess.exe
include Pytonium\bin_win\resources.pak
include Pytonium\bin_win\snapshot_blob.bin
include Pytonium\bin_win\v8_context_snapshot.bin
include Pytonium\bin_win\vk_swiftshader.dll
include Pytonium\bin_win\vk_swiftshader_icd.json
include Pytonium\bin_win\vulkan-1.dll
include Pytonium\bin_win\locales\af.pak
include Pytonium\bin_win\locales\am.pak
include Pytonium\bin_win\locales\ar.pak
include Pytonium\bin_win\locales\bg.pak
include Pytonium\bin_win\locales\bn.pak
include Pytonium\bin_win\locales\ca.pak
include Pytonium\bin_win\locales\cs.pak
include Pytonium\bin_win\locales\da.pak
include Pytonium\bin_win\locales\de.pak
include Pytonium\bin_win\locales\el.pak
include Pytonium\bin_win\locales\en-GB.pak
include Pytonium\bin_win\locales\en-US.pak
include Pytonium\bin_win\locales\es-419.pak
include Pytonium\bin_win\locales\es.pak
include Pytonium\bin_win\locales\et.pak
include Pytonium\bin_win\locales\fa.pak
include Pytonium\bin_win\locales\fi.pak
include Pytonium\bin_win\locales\fil.pak
include Pytonium\bin_win\locales\fr.pak
include Pytonium\bin_win\locales\gu.pak
include Pytonium\bin_win\locales\he.pak
include Pytonium\bin_win\locales\hi.pak
include Pytonium\bin_win\locales\hr.pak
include Pytonium\bin_win\locales\hu.pak
include Pytonium\bin_win\locales\id.pak
include Pytonium\bin_win\locales\it.pak
include Pytonium\bin_win\locales\ja.pak
include Pytonium\bin_win\locales\kn.pak
include Pytonium\bin_win\locales\ko.pak
include Pytonium\bin_win\locales\lt.pak
include Pytonium\bin_win\locales\lv.pak
include Pytonium\bin_win\locales\ml.pak
include Pytonium\bin_win\locales\mr.pak
include Pytonium\bin_win\locales\ms.pak
include Pytonium\bin_win\locales\nb.pak
include Pytonium\bin_win\locales\nl.pak
include Pytonium\bin_win\locales\pl.pak
include Pytonium\bin_win\locales\pt-BR.pak
include Pytonium\bin_win\locales\pt-PT.pak
include Pytonium\bin_win\locales\ro.pak
include Pytonium\bin_win\locales\ru.pak
include Pytonium\bin_win\locales\sk.pak
include Pytonium\bin_win\locales\sl.pak
include Pytonium\bin_win\locales\sr.pak
include Pytonium\bin_win\locales\sv.pak
include Pytonium\bin_win\locales\sw.pak
include Pytonium\bin_win\locales\ta.pak
include Pytonium\bin_win\locales\te.pak
include Pytonium\bin_win\locales\th.pak
include Pytonium\bin_win\locales\tr.pak
include Pytonium\bin_win\locales\uk.pak
include Pytonium\bin_win\locales\ur.pak
include Pytonium\bin_win\locales\vi.pak
include Pytonium\bin_win\locales\zh-CN.pak
include Pytonium\bin_win\locales\zh-TW.pak
include Pytonium\test\index.html
include Pytonium\test\main.py
include Pytonium\test\radioactive.ico
include Pytonium\test\__init__.py
include Pytonium\pytonium.pyi
