include ./Pytonium/bin_linux.zip
include Pytonium/bin_linux/chrome_100_percent.pak
include Pytonium/bin_linux/chrome_200_percent.pak
include Pytonium/bin_linux/icudtl.dat
include Pytonium/bin_linux/libcef.so
include Pytonium/bin_linux/libEGL.so
include Pytonium/bin_linux/libGLESv2.so
include Pytonium/bin_linux/libvk_swiftshader.so
include Pytonium/bin_linux/libvulkan.so.1
include Pytonium/bin_linux/pytonium_subprocess
include Pytonium/bin_linux/resources.pak
include Pytonium/bin_linux/v8_context_snapshot.bin
include Pytonium/bin_linux/vk_swiftshader_icd.json
include Pytonium/bin_linux/locales/af.pak
include Pytonium/bin_linux/locales/af_FEMININE.pak
include Pytonium/bin_linux/locales/af_MASCULINE.pak
include Pytonium/bin_linux/locales/af_NEUTER.pak
include Pytonium/bin_linux/locales/am.pak
include Pytonium/bin_linux/locales/am_FEMININE.pak
include Pytonium/bin_linux/locales/am_MASCULINE.pak
include Pytonium/bin_linux/locales/am_NEUTER.pak
include Pytonium/bin_linux/locales/ar.pak
include Pytonium/bin_linux/locales/ar_FEMININE.pak
include Pytonium/bin_linux/locales/ar_MASCULINE.pak
include Pytonium/bin_linux/locales/ar_NEUTER.pak
include Pytonium/bin_linux/locales/bg.pak
include Pytonium/bin_linux/locales/bg_FEMININE.pak
include Pytonium/bin_linux/locales/bg_MASCULINE.pak
include Pytonium/bin_linux/locales/bg_NEUTER.pak
include Pytonium/bin_linux/locales/bn.pak
include Pytonium/bin_linux/locales/bn_FEMININE.pak
include Pytonium/bin_linux/locales/bn_MASCULINE.pak
include Pytonium/bin_linux/locales/bn_NEUTER.pak
include Pytonium/bin_linux/locales/ca.pak
include Pytonium/bin_linux/locales/ca_FEMININE.pak
include Pytonium/bin_linux/locales/ca_MASCULINE.pak
include Pytonium/bin_linux/locales/ca_NEUTER.pak
include Pytonium/bin_linux/locales/cs.pak
include Pytonium/bin_linux/locales/cs_FEMININE.pak
include Pytonium/bin_linux/locales/cs_MASCULINE.pak
include Pytonium/bin_linux/locales/cs_NEUTER.pak
include Pytonium/bin_linux/locales/da.pak
include Pytonium/bin_linux/locales/da_FEMININE.pak
include Pytonium/bin_linux/locales/da_MASCULINE.pak
include Pytonium/bin_linux/locales/da_NEUTER.pak
include Pytonium/bin_linux/locales/de.pak
include Pytonium/bin_linux/locales/de_FEMININE.pak
include Pytonium/bin_linux/locales/de_MASCULINE.pak
include Pytonium/bin_linux/locales/de_NEUTER.pak
include Pytonium/bin_linux/locales/el.pak
include Pytonium/bin_linux/locales/el_FEMININE.pak
include Pytonium/bin_linux/locales/el_MASCULINE.pak
include Pytonium/bin_linux/locales/el_NEUTER.pak
include Pytonium/bin_linux/locales/en-GB.pak
include Pytonium/bin_linux/locales/en-GB_FEMININE.pak
include Pytonium/bin_linux/locales/en-GB_MASCULINE.pak
include Pytonium/bin_linux/locales/en-GB_NEUTER.pak
include Pytonium/bin_linux/locales/en-US.pak
include Pytonium/bin_linux/locales/en-US_FEMININE.pak
include Pytonium/bin_linux/locales/en-US_MASCULINE.pak
include Pytonium/bin_linux/locales/en-US_NEUTER.pak
include Pytonium/bin_linux/locales/es-419.pak
include Pytonium/bin_linux/locales/es-419_FEMININE.pak
include Pytonium/bin_linux/locales/es-419_MASCULINE.pak
include Pytonium/bin_linux/locales/es-419_NEUTER.pak
include Pytonium/bin_linux/locales/es.pak
include Pytonium/bin_linux/locales/es_FEMININE.pak
include Pytonium/bin_linux/locales/es_MASCULINE.pak
include Pytonium/bin_linux/locales/es_NEUTER.pak
include Pytonium/bin_linux/locales/et.pak
include Pytonium/bin_linux/locales/et_FEMININE.pak
include Pytonium/bin_linux/locales/et_MASCULINE.pak
include Pytonium/bin_linux/locales/et_NEUTER.pak
include Pytonium/bin_linux/locales/fa.pak
include Pytonium/bin_linux/locales/fa_FEMININE.pak
include Pytonium/bin_linux/locales/fa_MASCULINE.pak
include Pytonium/bin_linux/locales/fa_NEUTER.pak
include Pytonium/bin_linux/locales/fi.pak
include Pytonium/bin_linux/locales/fil.pak
include Pytonium/bin_linux/locales/fil_FEMININE.pak
include Pytonium/bin_linux/locales/fil_MASCULINE.pak
include Pytonium/bin_linux/locales/fil_NEUTER.pak
include Pytonium/bin_linux/locales/fi_FEMININE.pak
include Pytonium/bin_linux/locales/fi_MASCULINE.pak
include Pytonium/bin_linux/locales/fi_NEUTER.pak
include Pytonium/bin_linux/locales/fr.pak
include Pytonium/bin_linux/locales/fr_FEMININE.pak
include Pytonium/bin_linux/locales/fr_MASCULINE.pak
include Pytonium/bin_linux/locales/fr_NEUTER.pak
include Pytonium/bin_linux/locales/gu.pak
include Pytonium/bin_linux/locales/gu_FEMININE.pak
include Pytonium/bin_linux/locales/gu_MASCULINE.pak
include Pytonium/bin_linux/locales/gu_NEUTER.pak
include Pytonium/bin_linux/locales/he.pak
include Pytonium/bin_linux/locales/he_FEMININE.pak
include Pytonium/bin_linux/locales/he_MASCULINE.pak
include Pytonium/bin_linux/locales/he_NEUTER.pak
include Pytonium/bin_linux/locales/hi.pak
include Pytonium/bin_linux/locales/hi_FEMININE.pak
include Pytonium/bin_linux/locales/hi_MASCULINE.pak
include Pytonium/bin_linux/locales/hi_NEUTER.pak
include Pytonium/bin_linux/locales/hr.pak
include Pytonium/bin_linux/locales/hr_FEMININE.pak
include Pytonium/bin_linux/locales/hr_MASCULINE.pak
include Pytonium/bin_linux/locales/hr_NEUTER.pak
include Pytonium/bin_linux/locales/hu.pak
include Pytonium/bin_linux/locales/hu_FEMININE.pak
include Pytonium/bin_linux/locales/hu_MASCULINE.pak
include Pytonium/bin_linux/locales/hu_NEUTER.pak
include Pytonium/bin_linux/locales/id.pak
include Pytonium/bin_linux/locales/id_FEMININE.pak
include Pytonium/bin_linux/locales/id_MASCULINE.pak
include Pytonium/bin_linux/locales/id_NEUTER.pak
include Pytonium/bin_linux/locales/it.pak
include Pytonium/bin_linux/locales/it_FEMININE.pak
include Pytonium/bin_linux/locales/it_MASCULINE.pak
include Pytonium/bin_linux/locales/it_NEUTER.pak
include Pytonium/bin_linux/locales/ja.pak
include Pytonium/bin_linux/locales/ja_FEMININE.pak
include Pytonium/bin_linux/locales/ja_MASCULINE.pak
include Pytonium/bin_linux/locales/ja_NEUTER.pak
include Pytonium/bin_linux/locales/kn.pak
include Pytonium/bin_linux/locales/kn_FEMININE.pak
include Pytonium/bin_linux/locales/kn_MASCULINE.pak
include Pytonium/bin_linux/locales/kn_NEUTER.pak
include Pytonium/bin_linux/locales/ko.pak
include Pytonium/bin_linux/locales/ko_FEMININE.pak
include Pytonium/bin_linux/locales/ko_MASCULINE.pak
include Pytonium/bin_linux/locales/ko_NEUTER.pak
include Pytonium/bin_linux/locales/lt.pak
include Pytonium/bin_linux/locales/lt_FEMININE.pak
include Pytonium/bin_linux/locales/lt_MASCULINE.pak
include Pytonium/bin_linux/locales/lt_NEUTER.pak
include Pytonium/bin_linux/locales/lv.pak
include Pytonium/bin_linux/locales/lv_FEMININE.pak
include Pytonium/bin_linux/locales/lv_MASCULINE.pak
include Pytonium/bin_linux/locales/lv_NEUTER.pak
include Pytonium/bin_linux/locales/ml.pak
include Pytonium/bin_linux/locales/ml_FEMININE.pak
include Pytonium/bin_linux/locales/ml_MASCULINE.pak
include Pytonium/bin_linux/locales/ml_NEUTER.pak
include Pytonium/bin_linux/locales/mr.pak
include Pytonium/bin_linux/locales/mr_FEMININE.pak
include Pytonium/bin_linux/locales/mr_MASCULINE.pak
include Pytonium/bin_linux/locales/mr_NEUTER.pak
include Pytonium/bin_linux/locales/ms.pak
include Pytonium/bin_linux/locales/ms_FEMININE.pak
include Pytonium/bin_linux/locales/ms_MASCULINE.pak
include Pytonium/bin_linux/locales/ms_NEUTER.pak
include Pytonium/bin_linux/locales/nb.pak
include Pytonium/bin_linux/locales/nb_FEMININE.pak
include Pytonium/bin_linux/locales/nb_MASCULINE.pak
include Pytonium/bin_linux/locales/nb_NEUTER.pak
include Pytonium/bin_linux/locales/nl.pak
include Pytonium/bin_linux/locales/nl_FEMININE.pak
include Pytonium/bin_linux/locales/nl_MASCULINE.pak
include Pytonium/bin_linux/locales/nl_NEUTER.pak
include Pytonium/bin_linux/locales/pl.pak
include Pytonium/bin_linux/locales/pl_FEMININE.pak
include Pytonium/bin_linux/locales/pl_MASCULINE.pak
include Pytonium/bin_linux/locales/pl_NEUTER.pak
include Pytonium/bin_linux/locales/pt-BR.pak
include Pytonium/bin_linux/locales/pt-BR_FEMININE.pak
include Pytonium/bin_linux/locales/pt-BR_MASCULINE.pak
include Pytonium/bin_linux/locales/pt-BR_NEUTER.pak
include Pytonium/bin_linux/locales/pt-PT.pak
include Pytonium/bin_linux/locales/pt-PT_FEMININE.pak
include Pytonium/bin_linux/locales/pt-PT_MASCULINE.pak
include Pytonium/bin_linux/locales/pt-PT_NEUTER.pak
include Pytonium/bin_linux/locales/ro.pak
include Pytonium/bin_linux/locales/ro_FEMININE.pak
include Pytonium/bin_linux/locales/ro_MASCULINE.pak
include Pytonium/bin_linux/locales/ro_NEUTER.pak
include Pytonium/bin_linux/locales/ru.pak
include Pytonium/bin_linux/locales/ru_FEMININE.pak
include Pytonium/bin_linux/locales/ru_MASCULINE.pak
include Pytonium/bin_linux/locales/ru_NEUTER.pak
include Pytonium/bin_linux/locales/sk.pak
include Pytonium/bin_linux/locales/sk_FEMININE.pak
include Pytonium/bin_linux/locales/sk_MASCULINE.pak
include Pytonium/bin_linux/locales/sk_NEUTER.pak
include Pytonium/bin_linux/locales/sl.pak
include Pytonium/bin_linux/locales/sl_FEMININE.pak
include Pytonium/bin_linux/locales/sl_MASCULINE.pak
include Pytonium/bin_linux/locales/sl_NEUTER.pak
include Pytonium/bin_linux/locales/sr.pak
include Pytonium/bin_linux/locales/sr_FEMININE.pak
include Pytonium/bin_linux/locales/sr_MASCULINE.pak
include Pytonium/bin_linux/locales/sr_NEUTER.pak
include Pytonium/bin_linux/locales/sv.pak
include Pytonium/bin_linux/locales/sv_FEMININE.pak
include Pytonium/bin_linux/locales/sv_MASCULINE.pak
include Pytonium/bin_linux/locales/sv_NEUTER.pak
include Pytonium/bin_linux/locales/sw.pak
include Pytonium/bin_linux/locales/sw_FEMININE.pak
include Pytonium/bin_linux/locales/sw_MASCULINE.pak
include Pytonium/bin_linux/locales/sw_NEUTER.pak
include Pytonium/bin_linux/locales/ta.pak
include Pytonium/bin_linux/locales/ta_FEMININE.pak
include Pytonium/bin_linux/locales/ta_MASCULINE.pak
include Pytonium/bin_linux/locales/ta_NEUTER.pak
include Pytonium/bin_linux/locales/te.pak
include Pytonium/bin_linux/locales/te_FEMININE.pak
include Pytonium/bin_linux/locales/te_MASCULINE.pak
include Pytonium/bin_linux/locales/te_NEUTER.pak
include Pytonium/bin_linux/locales/th.pak
include Pytonium/bin_linux/locales/th_FEMININE.pak
include Pytonium/bin_linux/locales/th_MASCULINE.pak
include Pytonium/bin_linux/locales/th_NEUTER.pak
include Pytonium/bin_linux/locales/tr.pak
include Pytonium/bin_linux/locales/tr_FEMININE.pak
include Pytonium/bin_linux/locales/tr_MASCULINE.pak
include Pytonium/bin_linux/locales/tr_NEUTER.pak
include Pytonium/bin_linux/locales/uk.pak
include Pytonium/bin_linux/locales/uk_FEMININE.pak
include Pytonium/bin_linux/locales/uk_MASCULINE.pak
include Pytonium/bin_linux/locales/uk_NEUTER.pak
include Pytonium/bin_linux/locales/ur.pak
include Pytonium/bin_linux/locales/ur_FEMININE.pak
include Pytonium/bin_linux/locales/ur_MASCULINE.pak
include Pytonium/bin_linux/locales/ur_NEUTER.pak
include Pytonium/bin_linux/locales/vi.pak
include Pytonium/bin_linux/locales/vi_FEMININE.pak
include Pytonium/bin_linux/locales/vi_MASCULINE.pak
include Pytonium/bin_linux/locales/vi_NEUTER.pak
include Pytonium/bin_linux/locales/zh-CN.pak
include Pytonium/bin_linux/locales/zh-CN_FEMININE.pak
include Pytonium/bin_linux/locales/zh-CN_MASCULINE.pak
include Pytonium/bin_linux/locales/zh-CN_NEUTER.pak
include Pytonium/bin_linux/locales/zh-TW.pak
include Pytonium/bin_linux/locales/zh-TW_FEMININE.pak
include Pytonium/bin_linux/locales/zh-TW_MASCULINE.pak
include Pytonium/bin_linux/locales/zh-TW_NEUTER.pak
include Pytonium\pytonium.pyi
