# this stuff comes from cef-binaries 106.0.27+g20ed841+chromium-106.0.5249.103_windows64
cef-binaries/Debug/
cef-binaries/include/
cef-binaries/libcef_dll/
cef-binaries/Release/
cef-binaries/Resources/
cef-binaries/docs/
cef-binaries/cmake/
cef-binaries/tests/
cef-binaries/Doxyfile
cef-binaries/CMakeLists.txt
cef-binaries/cef_paths.gypi
cef-binaries/cef_paths2.gypi
cef-binaries/cmake/FindCEF.cmake
cef-binaries/cmake/cef_variables.cmake
cef-binaries/cmake/cef_macros.cmake
# IDE settings folders
.idea
.vscode


# the rest is created by cmake, building the wrapper and python(virtual enviroments and package creation.

cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cef-binaries/libcef_dll/cmake-build-debug-visual-studio/
cef-binaries/libcef_dll/cmake-build-release-visual-studio/
src/.venv
src/venv311
venv/
src/pytonium_python_framework/Pytonium/bin/
src/pytonium_python_framework/Pytonium/cefsubprocess/
src/pytonium_python_framework/Pytonium.egg-info/
src/pytonium_python_framework/test/cache/
src/pytonium_python_framework/dist/
src/pytonium_python_framework/Pytonium/src/lib/
src/pytonium_python_framework/Pytonium/src/pytonium_library/
src/pytonium_python_framework/Pytonium/src/include/
src/pytonium_python_framework/build/
src/pytonium_python_framework/__pycache__/
src/pytonium_python_framework/Pytonium/__pycache__/

src/pytonium_python_framework/PytoniumTests/.idea/
src/pytonium_python_framework/PytoniumTests/cache/
src/pytonium_python_framework/PytoniumTests/venv/

src/pytonium_python_framework/Pytonium/src/pytonium.cpp
/src/pytonium_python_framework/PytoniumTests/index.html
/src/pytonium_python_framework/README.md

src/pytonium_python_framework/Pytonium/bin.zip
