# this stuff comes from cef-binaries 106.0.27+g20ed841+chromium-106.0.5249.103_windows64
cef-binaries-windows/Debug/
cef-binaries-windows/include/
cef-binaries-windows/libcef_dll/
cef-binaries-windows/Release/
cef-binaries-windows/Resources/
cef-binaries-windows/docs/
cef-binaries-windows/cmake/
cef-binaries-windows/tests/
cef-binaries-windows/Doxyfile
cef-binaries-windows/CMakeLists.txt
cef-binaries-windows/cef_paths.gypi
cef-binaries-windows/cef_paths2.gypi
cef-binaries-windows/cmake/FindCEF.cmake
cef-binaries-windows/cmake/cef_variables.cmake
cef-binaries-windows/cmake/cef_macros.cmake

cef-binaries-linux/Debug/
cef-binaries-linux/include/
cef-binaries-linux/libcef_dll/
cef-binaries-linux/Release/
cef-binaries-linux/Resources/
cef-binaries-linux/docs/
cef-binaries-linux/cmake/
cef-binaries-linux/tests/
cef-binaries-linux/Doxyfile
cef-binaries-linux/CMakeLists.txt
cef-binaries-linux/cef_paths.gypi
cef-binaries-linux/cef_paths2.gypi
cef-binaries-linux/cmake/FindCEF.cmake
cef-binaries-linux/cmake/cef_variables.cmake
cef-binaries-linux/cmake/cef_macros.cmake
# IDE settings folders
.idea
.vscode


# the rest is created by cmake, building the wrapper and python(virtual enviroments and package creation.


cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cef-binaries/libcef_dll/cmake-build-debug-visual-studio/
cef-binaries/libcef_dll/cmake-build-release-visual-studio/
src/.venv
src/venv311
venv/
src/pytonium_python_framework/Pytonium/bin/
src/pytonium_python_framework/Pytonium/cefsubprocess/
src/pytonium_python_framework/Pytonium.egg-info/
src/pytonium_python_framework/test/cache/
src/pytonium_python_framework/dist/
src/pytonium_python_framework/Pytonium/src/lib/
src/pytonium_python_framework/Pytonium/src/pytonium_library/
src/pytonium_python_framework/Pytonium/src/include/
src/pytonium_python_framework/build/
src/pytonium_python_framework/__pycache__/
src/pytonium_python_framework/Pytonium/__pycache__/

src/pytonium_python_framework/PytoniumTests/.idea/
src/pytonium_python_framework/PytoniumTests/cache/
src/pytonium_python_framework/PytoniumTests/venv/

src/pytonium_python_framework/Pytonium/src/pytonium.cpp
/src/pytonium_python_framework/PytoniumTests/index.html
/src/pytonium_python_framework/README.md

src/pytonium_python_framework/Pytonium/bin.zip
src/pytonium_python_framework/PytoniumTest/cache/Cache/Cache_Data/data_0
src/pytonium_python_framework/PytoniumTest/cache/Cache/Cache_Data/data_1
src/pytonium_python_framework/PytoniumTest/cache/Cache/Cache_Data/data_2
src/pytonium_python_framework/PytoniumTest/cache/Cache/Cache_Data/data_3
src/pytonium_python_framework/PytoniumTest/cache/Cache/Cache_Data/index
src/pytonium_python_framework/PytoniumTest/cache/Code Cache/js/index
src/pytonium_python_framework/PytoniumTest/cache/Code Cache/js/index-dir/the-real-index
src/pytonium_python_framework/PytoniumTest/cache/Code Cache/wasm/index
src/pytonium_python_framework/PytoniumTest/cache/Code Cache/wasm/index-dir/the-real-index
src/pytonium_python_framework/PytoniumTest/cache/CURRENT
src/pytonium_python_framework/PytoniumTest/cache/DawnCache/data_0
src/pytonium_python_framework/PytoniumTest/cache/DawnCache/data_1
src/pytonium_python_framework/PytoniumTest/cache/DawnCache/data_2
src/pytonium_python_framework/PytoniumTest/cache/DawnCache/data_3
src/pytonium_python_framework/PytoniumTest/cache/DawnCache/index
src/pytonium_python_framework/PytoniumTest/cache/GPUCache/data_0
src/pytonium_python_framework/PytoniumTest/cache/GPUCache/data_1
src/pytonium_python_framework/PytoniumTest/cache/GPUCache/data_2
src/pytonium_python_framework/PytoniumTest/cache/GPUCache/data_3
src/pytonium_python_framework/PytoniumTest/cache/GPUCache/index
src/pytonium_python_framework/PytoniumTest/cache/Local Storage/leveldb/000003.log
src/pytonium_python_framework/PytoniumTest/cache/Local Storage/leveldb/CURRENT
src/pytonium_python_framework/PytoniumTest/cache/Local Storage/leveldb/LOCK
src/pytonium_python_framework/PytoniumTest/cache/Local Storage/leveldb/LOG
src/pytonium_python_framework/PytoniumTest/cache/Local Storage/leveldb/LOG.old
src/pytonium_python_framework/PytoniumTest/cache/Local Storage/leveldb/MANIFEST-000001
src/pytonium_python_framework/PytoniumTest/cache/LOCK
src/pytonium_python_framework/PytoniumTest/cache/LOG
src/pytonium_python_framework/PytoniumTest/cache/LOG.old
src/pytonium_python_framework/PytoniumTest/cache/MANIFEST-000001
src/pytonium_python_framework/PytoniumTest/cache/Network/Cookies
src/pytonium_python_framework/PytoniumTest/cache/Network/Cookies-journal
src/pytonium_python_framework/PytoniumTest/cache/Network/NetworkDataMigrated
src/pytonium_python_framework/PytoniumTest/cache/Session Storage/000003.log
src/pytonium_python_framework/PytoniumTest/cache/Session Storage/CURRENT
src/pytonium_python_framework/PytoniumTest/cache/Session Storage/LOCK
src/pytonium_python_framework/PytoniumTest/cache/Session Storage/LOG
src/pytonium_python_framework/PytoniumTest/cache/Session Storage/LOG.old
src/pytonium_python_framework/PytoniumTest/cache/Session Storage/MANIFEST-000001
src/pytonium_python_framework/PytoniumTest/cache/Visited Links
src/pytonium_python_framework/PytoniumTest/cache/000003.log
src/pytonium_python_framework/PytoniumTest/cache/LocalPrefs.json
src/pytonium_python_framework/PytoniumTest/cache/Network/Network Persistent State
src/pytonium_python_framework/PytoniumTest/cache/Cache/Cache_Data/f_000002
src/pytonium_python_framework/PytoniumTest/cache/Cache/Cache_Data/f_000003
src/pytonium_python_framework/PytoniumTest/cache/Cache/Cache_Data/f_000004
src/pytonium_python_framework/PytoniumTest/cache/Cache/Cache_Data/f_000005
src/pytonium_python_framework/PytoniumTest/cache/Cache/Cache_Data/f_000006
src/pytonium_python_framework/PytoniumTest/cache/Cache/Cache_Data/f_000007
src/pytonium_python_framework/PytoniumTest/cache/Code Cache/js/0aa4caf8727f0005_0
src/pytonium_python_framework/PytoniumTest/cache/Code Cache/js/15a63798407979d2_0
src/pytonium_python_framework/PytoniumTest/cache/Code Cache/js/16eec874e12b767c_0
src/pytonium_python_framework/PytoniumTest/cache/Code Cache/js/44f7b629b0423bdf_0
src/pytonium_python_framework/PytoniumTest/cache/Code Cache/js/82f07a1112eb76a2_0
src/pytonium_python_framework/PytoniumTest/cache/Code Cache/js/9a0e30330582ebd0_0
src/pytonium_python_framework/PytoniumTest/cache/Code Cache/js/dc7a3858bc76c1a6_0
src/pytonium_python_framework/PytoniumTest/cache/Code Cache/js/e7c926a3e32396ec_0
src/pytonium_python_framework/PytoniumTest/cache/Network/Reporting and NEL
src/pytonium_python_framework/PytoniumTest/cache/Network/Reporting and NEL-journal
/cmake-build-debug-wsl/
/cmake-build-release-wsl/
src/pytonium_python_framework.zip

src/pytonium_python_framework/Pytonium/src/cef-binaries/Debug/
src/pytonium_python_framework/Pytonium/src/cef-binaries/include/
src/pytonium_python_framework/Pytonium/src/cef-binaries/libcef_dll/
src/pytonium_python_framework/Pytonium/src/cef-binaries/Release/
src/pytonium_python_framework/Pytonium/src/cef-binaries/Resources/
src/pytonium_python_framework/Pytonium/src/cef-binaries/docs/
src/pytonium_python_framework/Pytonium/src/cef-binaries/cmake/
src/pytonium_python_framework/Pytonium/src/cef-binaries/tests/
src/pytonium_python_framework/Pytonium/src/cef-binaries/Doxyfile
src/pytonium_python_framework/Pytonium/src/cef-binaries/CMakeLists.txt
src/pytonium_python_framework/Pytonium/src/cef-binaries/cef_paths.gypi
src/pytonium_python_framework/Pytonium/src/cef-binaries/cef_paths2.gypi
src/pytonium_python_framework/Pytonium/src/cef-binaries/cmake/FindCEF.cmake
src/pytonium_python_framework/Pytonium/src/cef-binaries/cmake/cef_variables.cmake
src/pytonium_python_framework/Pytonium/src/cef-binaries/cmake/cef_macros.cmake
src/venv2/pyvenv.cfg
src/venv2/pyvenv.cfg
/src/venvwsl/
src/pytonium_python_framework/Pytonium/src/cef-binaries/Release/libcef.so
src/pytonium_python_framework/_skbuild/

src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/Debug/
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/include/
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/libcef_dll/
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/Release/
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/Resources/
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/docs/
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/cmake/
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/tests/
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/Doxyfile
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/CMakeLists.txt
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/cef_paths.gypi
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/cef_paths2.gypi
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/cmake/FindCEF.cmake
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/cmake/cef_variables.cmake
src/pytonium_python_framework/Pytonium/src/cef-binaries-windows/cmake/cef_macros.cmake

src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/Debug/
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/include/
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/libcef_dll/
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/Release/
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/Resources/
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/docs/
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/cmake/
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/tests/
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/Doxyfile
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/CMakeLists.txt
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/cef_paths.gypi
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/cef_paths2.gypi
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/cmake/FindCEF.cmake
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/cmake/cef_variables.cmake
src/pytonium_python_framework/Pytonium/src/cef-binaries-linux/cmake/cef_macros.cmake
/src/pytonium_python_framework/Pytonium/bin_win/
/src/pytonium_python_framework/Pytonium/bin_linux/
/src/pytonium_python_framework/Pytonium/test/cache/
src/pytonium_python_framework/Pytonium/bin_linux.zip
src/pytonium_python_framework/Pytonium/bin_win.zip
/venv_build/
/cmake-build-release/
/cmake-build-debug/
gh-wiki/pytonium.wiki/
